<h6 class="dropdown-header d-flex align-items-center">
    <img class="dropdown-user-img"  style="width:60px;height:60px" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" />
    <div class="dropdown-user-details">
        <div class="dropdown-user-details-name">@ViewBag.SessionName</div>
        <div class="dropdown-user-details-email">@ViewBag.SessionEmail</div>
    </div>
</h6>