@model Codedy.StarSecurity.WebApp.Models.Database.Entities.Career

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                    <span>Client</span>
                </h1>
                <div class="page-header-subtitle">Enter customer information</div>
            </div>
        </div>
    </div>
    <div class="container mt-n10">
        <div class="row">
            <div class="col-lg-12">
                <div id="default">
                    <div class="card mb-4">
                        <div class="card-header">Default Bootstrap Form Controls</div>
                        <div class="card-body">
                            <div class="sbp-preview">
                                <div class="sbp-preview-content">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <label asp-for="Title" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Title" class="form-control" />
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <label asp-for="Salary" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Salary" class="form-control" />
                                                <span asp-validation-for="Salary" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <label asp-for="WorkAddress" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="WorkAddress" class="form-control" />
                                                <span asp-validation-for="WorkAddress" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <label asp-for="Description" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-4">
                                                <label asp-for="ExpirationDate" class="control-label"></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="ExpirationDate" class="form-control" />
                                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-3 ml-2">
                                                <input type="submit" value="Create" class="btn btn-primary form-control text-white" />
                                            </div>
                                            <div class="col-3">
                                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


