@model Codedy.StarSecurity.WebApp.Models.Database.Entities.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
        <div class="container-fluid">
            <div class="page-header-content">
                <h1 class="page-header-title">
                    <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                    <span>Employee</span>
                </h1>
                <div class="page-header-subtitle">Enter customer information</div>
            </div>
        </div>
    </div>
    <div class="container mt-n10">
        <div class="row">
            <div class="col-lg-12">
                <div id="default">
                    <div class="card mb-4">
                        <div class="card-header">Default Bootstrap Form Controls</div>
                        <div class="card-body"> 
                            <div class="sbp-preview-content">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-4">
                                                <label class="control-label">First Name<span class="text-danger">*</span></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="FirtName" class="form-control" />
                                                <span asp-validation-for="FirtName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="col-4">
                                                <label class="control-label">Last Name<span class="text-danger">*</span></label>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">UserName<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Password Hash<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="PasswordHash" class="form-control" />
                                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Email<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Phone<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="Phone" class="form-control" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Address<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Gender<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">DOB<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="DOB" class="form-control" />
                                            <span asp-validation-for="DOB" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Educational Qualification<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeEducationalQualification" class="form-control" />
                                            <span asp-validation-for="EmployeeEducationalQualification" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Code<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeCode" class="form-control" />
                                            <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Department<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeDepartment" class="form-control" />
                                            <span asp-validation-for="EmployeeDepartment" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Role<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeRole" class="form-control" />
                                            <span asp-validation-for="EmployeeRole" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Grade<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeGrade" class="form-control" />
                                            <span asp-validation-for="EmployeeGrade" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Employee Achievements<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="EmployeeAchievements" class="form-control" />
                                            <span asp-validation-for="EmployeeAchievements" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-4">
                                            <label class="control-label">Last Login Date<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-12">
                                            <input asp-for="LastLoginDate" class="form-control" />
                                            <span asp-validation-for="LastLoginDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-3 ml-2">
                                            <input type="submit" value="Edit" class="btn btn-primary form-control text-white" />
                                        </div>
                                        <div class="col-3">
                                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
