@{
    ViewData["Title"] = "Career Detail";
}

<div class="page-title-area my-5">
    <div class="container">
        <div class="page-title-content">
            <h2>Career Detail</h2>
            <ul>
                <li>
                    <a href="index.html">
                        <i class="bx bx-home"></i>
                        Home
                    </a>
                </li>
                <li class="active">Career Detail</li>
            </ul>
        </div>
    </div>
</div>