@model LoginRequest

<form method="post" class="form" asp-controller="Accounts" asp-action="Login">
    <div class="form-group">
        <label class="small mb-1" asp-for="Username">User Name</label>
        <input class="form-control py-4" asp-for="Username" placeholder="Enter UserName" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="small mb-1" asp-for="Password">Password</label>
        <input class="form-control py-4" asp-for="Password" type="password" placeholder="Enter password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" asp-for="RememberMe" type="checkbox"></span></label><br>
        <input type="submit" name="submit" class="btn btn-info btn-md w-100" value="LOGIN">
    </div>
</form>
