@{
    ViewData["Title"] = "Network";
}


<section class="solution-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="solution-content">
                    <div class="solution-title">
                        <span>All-in Solution</span>
                        <h2>Our experts are providing and planning 24/7 technical support services with product and security consultation.</h2>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <a href="#page:details">
                                            Ha Noi, VN (Headquarters)
                                        </a>
                                    </h3>
                                    <p>Product Consultation.</p>
                                    <p>We are committed to the best quality and price for our customers.</p>
                                    <p><b>Hotline: </b><a href="tel:0868663315">0868.6633.15</a></p>
                                    <span>01</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.97786153186!2d105.80185813142785!3d21.022735998670637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSGFub2ksIEhvw6BuIEtp4bq_bSwgSGFub2ksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1618832142495!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class=" col-11">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <a href="#page:details">
                                            Ho Chi Minh, VN
                                        </a>
                                    </h3>
                                    <p>Security Consultation.</p>
                                    <p>With years of experience, our customers have confidence in our store.</p>
                                    <p><b>Hotline: </b><a href="tel:0868663315">0868.6633.15</a></p>
                                    <span>02</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1003454.1833771602!2d106.13332362816128!3d10.754286875175609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2sHo%20Chi%20Minh%20City%2C%20Vietnam!5e0!3m2!1sen!2s!4v1618832249654!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-11 offset-md-3 offset-lg-0">
                            <div class="single-solution overly-one">
                                <div class="overly-two">
                                    <h3>
                                        <a href="#page:details">
                                            Hue city, VN
                                        </a>
                                    </h3>
                                    <p>Special service.</p>
                                    <p>We give customers confidence in each of our services.</p>
                                    <p><b>Hotline: </b><a href="tel:0868663315">0868.6633.15</a></p>
                                    <span>04</span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-1 offset-md-3 offset-lg-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979997.579386657!2d107.04200837919937!3d16.36807544169841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31419c87726490f7%3A0xab1c0fcaf7cb84b5!2sThua%20Thien%20Hue%2C%20Vietnam!5e0!3m2!1sen!2s!4v1618832323439!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>