@{
    ViewData["Title"] = "Testimonial";
}


<div class="page-title-area page-title-style-two" style="background-image: url('/assets/img/feedback.jpg');     background-position: center;
    background-repeat: no-repeat;">
    <div class="container">
        <div class="page-title-content">
            <h2 style="color: white">Testimonials</h2>
        </div>
    </div>
</div>


<section class="testimonials-area testimonials-page-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Testimonials</span>
            <h2>What our customers say</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="testimonials-item">
                    <i class="flaticon-quote"></i>
                    <p>
                        “Star Security is one of the companies working very professionally,
                        punctuality is one of them, I feel safe when being protected by Star, 
                        wishing the company to develop more and more.”
                    </p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <h3>Tomy James</h3>
                    <span>CEO</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonials-item">
                    <i class="flaticon-quote"></i>
                    <p>
                        “Using Star's service for the first time but
                        I couldn't imagine it with such quality, 
                        the staff's enthusiasm makes customers like me feel very respectable.”
                    </p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <h3>Juhon Anderson</h3>
                    <span>Manager</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonials-item">
                    <i class="flaticon-quote"></i>
                    <p>
                        “I believe because I chose Star Security to perform this task,
                        the company has many years of experience in the profession.”
                    </p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <h3>Kliva</h3>
                    <span>Marketer</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="testimonials-item">
                    <i class="flaticon-quote"></i>
                    <p>
                        “Star Security is always my top priority when thinking about security services, because of its experienced team and enthusiastic consulting staff.”
                    </p>
                    <ul>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                        <li>
                            <i class="bx bxs-star"></i>
                        </li>
                    </ul>
                    <h3>Jon Smith</h3>
                    <span>CEO IT</span>
                </div>
            </div>
        </div>
    </div>
</section>

