@{
    ViewData["Title"] = "About";
}

<section class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Professionals</span>
            <h2>Meet our skilled team</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    <img src="~/assets/img/avatar/thi-dang-kim.jpg" />
                    <div class="team-content">
                        <h3>Dang Kim Thi</h3>
                        <span>Commercial Director</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    @*<img src="~/assets/img/team/team-img-2.jpg" alt="Image">*@
                    <img src="~/assets/img/avatar/tuan-pham.jpg" />
                    <div class="team-content">
                        <h3>Pham Tuan</h3>
                        <span>Financial Officer</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    @*<img src="~/assets/img/team/team-img-3.jpg" alt="Image">*@
                    <img src="~/assets/img/avatar/tu-thanh.jpg" />
                    <div class="team-content">
                        <h3>Truong Thanh Tu</h3>
                        <span>Chief Executive Officer</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    @*<img src="~/assets/img/team/team-img-4.jpg" alt="Image">*@
                    <img src="~/assets/img/avatar/huy-vu.jpg" />
                    <div class="team-content">
                        <h3>Vu Quang Huy</h3>
                        <span>Cyber Security Technician</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    @*<img src="~/assets/img/team/team-img-5.jpg" alt="Image">*@
                    <img src="~/assets/img/avatar/hieu-icetea.jpg" />
                    <div class="team-content">
                        <h3>Nguyen Dinh Hieu</h3>
                        <span>Project Technician</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team">
                    @*<img src="~/assets/img/team/team-img-6.jpg" alt="Image">*@
                    <img src="~/assets/img/avatar/hoa-chan.jpg" />
                    <div class="team-content">
                        <h3>Do Thi Chan Hoa</h3>
                        <span>Data Center Technician</span>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

