extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'Blank'
    - var pageIcon = 'file'
    - var pageSummary = 'A blank page to get you started!'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

block content
    include includes/page-header
    .container-fluid.mt-n10
        .card
            .card-header Example Card
            .card-body
                | This is a blank page. You can use this page as a boilerplate for creating new pages!
