extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'Charts'
    - var pageIcon = 'bar-chart'
    - var pageSummary = 'Interactive charts to display your data, powered by Chart.js, customized for SB Admin Pro'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

block content
    include includes/page-header
    .container-fluid.mt-n10
        .card.mb-4
            .card-header Area Chart Example
            .card-body
                .chart-area
                    canvas#myAreaChart(width='100%', height='30')
            .card-footer.small.text-muted Updated yesterday at 11:59 PM
        .row
            .col-lg-6
                .card.mb-4
                    .card-header Bar Chart Example
                    .card-body
                        .chart-bar
                            canvas#myBarChart(width='100%', height='50')
                    .card-footer.small.text-muted Updated yesterday at 11:59 PM
            .col-lg-6
                .card.mb-4
                    .card-header Pie Chart Example
                    .card-body
                        .chart-pie
                            canvas#myPieChart(width='100%', height='50')
                    .card-footer.small.text-muted Updated yesterday at 11:59 PM

        .card.card-icon.mb-4
            .row.no-gutters
                .col-auto.card-icon-aside.bg-primary
                    i.text-white-50(data-feather='alert-triangle')
                .col
                    .card-body.py-5
                        h5.card-title Third-Party Documentation Available
                        p.card-text
                            | Chart.js is a third party plugin that is used to generate the charts in this template. The charts above have been customized to fit the style of the SB Admin Pro theme. For further customization options, please visit the official Chart.js documentation.
                        a.btn.btn-primary.btn-sm(href='www.chartjs.org/docs/latest/', target='_blank')
                            i.mr-1(data-feather='external-link')
                            | Visit Chart.js Docs

append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='assets/demo/chart-area-demo.js')
    script(src='assets/demo/chart-bar-demo.js')
    script(src='assets/demo/chart-pie-demo.js')
