extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'Dark Sidenav'
    - var pageIcon = 'file'
    - var pageSummary = 'An alternate option for the sidenav styling'
    - var sidenavStyle = 'sidenav-dark'
    - var topnavStyle = 'navbar-light bg-white'
    - var pageHeaderStyle = 'page-header-dark'
    - var pageHeaderBackground = 'bg-gradient-primary-to-secondary'
    - var footerStyle = 'footer-light'

block content
    include includes/page-header
    .container-fluid.mt-n10
        .card
            .card-header Dark Sidenav Option
            .card-body.
                Use the <code>.sidenav-dark</code> with the <code>.sidenav</code> for a darker layout for the side navigation element. The text, icons, and all of the elements within the side navigation will adapt to work well with darker backgrounds. You can also use utility classes to modify the background color of the side navigation, or use a custom style!
