// Override Bootstrap body variables
//
// Settings for the `<body>` element.

$body-bg: $gray-100              !default;
$body-color: $gray-600           !default;
$headings-color: $gray-800       !default;
